/*neptune borderLayout*/
/*base border laoyout*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000318}}
.menuAppWrapper { background-image: url("img/triangle.png") !important; background-color: transparent !important; background-repeat: no-repeat; background-position: center center; border: medium none; padding-left: 0; padding-top: 0px; width: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000332}}
.headerMaster { background-image: url("img/bg_header.png") !important; border-bottom: 1px solid #979797 !important; border-left: medium none; border-right: medium none; border-top: medium none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000343}}
.navigationSeperator { background: url(img/seperator.png) 10px 0 no-repeat; height: 67px; width: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000351}}
.x-menu .navigationSeperator { height: 0; display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000357}}
#statusBarMaster { background-image: url("img/bg_footer.png") !important; border-bottom: medium none; border-left: medium none; border-right: medium none; border-top: 1px solid #979797 !important; height: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000378}}
.logoHeaderInstall { background-image: url(img/trackLogo.png) !important; background-repeat: no-repeat; background-position: 0 0; width: 70px; height: 28px; margin: 0 0 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000387}}
.logoHeader { background-image: url(logoAction.action) !important; background-repeat: no-repeat; background-position: 0 0px; width: 70px; height: 28px; margin: 0px 0 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\0000396}}
.logoHeaderOver { opacity: 0.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003100}}
.searchBar { padding: 0 5px 2px 2px; height: 36px; width: 350px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003106}}
.searchfield { margin: 7px 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003112}}
.searchfield .x-form-text-wrap { border: medium none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003115}}
.searchfield .x-form-trigger-wrap { border: medium none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003119}}
.searchfield input[type="text"] { -moz-border-radius: 8px !important; -webkit-border-radius: 8px !important; border-radius: 8px !important; background-image: url(img/lupe.png); background-position: 97% 50%; background-repeat: no-repeat; color: #818181; border: 1px solid #a3a3a3 !important; padding-left: 5px; margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003132}}
.transparentToolbar { background-color: transparent !important; background-image: none !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003138}}
.menuAppWrapper .x-btn-default-toolbar-medium, .navigation .x-btn-default-toolbar-large { background-color: transparent; background-image: none; border-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003144}}
.menuAppWrapper .x-btn-over.x-btn-default-toolbar-medium, .navigation .x-btn-over.x-btn-default-toolbar-large { background-color: #5795cb; border-color: #518bbd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003150}}
.menuAppWrapper .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .menuAppWrapper .x-btn.x-btn-pressed.x-btn-default-toolbar-medium, .navigation .x-btn.x-btn-menu-active.x-btn-default-toolbar-large, .navigation .x-btn.x-btn-pressed.x-btn-default-toolbar-large { background-color: #477aa6; border-color: #42719a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003160}}
.navigation .x-btn-wrap-default-toolbar-large.x-btn-split-right > .x-btn-button::after { border-right-width: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003163}}
.navigation .x-btn-over .x-btn-wrap-default-toolbar-large.x-btn-split-right > .x-btn-button::after { border-right-width: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003168}}
.metaNavi { margin-bottom: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003172}}
.metaNavi .x-btn-over span { color: #BF2128 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003175}}
.metaNavi .x-btn-default-toolbar-small { background-color: transparent; background-image: none; border-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003187}}
.metaNavi .x-toolbar-separator { border-left: 1px dotted #202020; border-right: 1px dotted #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003192}}
a.loginName { font-weight: normal; padding-left: 20px; background: url(img/admin_icon.png) 4px 2px no-repeat; color: #414141; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003202}}
a.loginName:active { color: #414141; color: #414141; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003209}}
a.loginName:hover { color: #BF2128; text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-borderLayout\.scss}line{font-family:\00003214}}
.toolbarActions { border-width: 0 0 1px 0; /*border-color: #D0D0D0;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/neptune\/style-neptune-borderLayout\.scss}line{font-family:\0000313}}
.menuAppWrapper .x-btn-default-toolbar-medium, .menuAppWrapper .x-btn.x-btn-menu-active.x-btn-default-toolbar-medium, .menuAppWrapper .x-btn.x-btn-pressed.x-btn-default-toolbar-medium, .navigation .x-btn-default-toolbar-large { background-image: none; }
