#wrapper {
	height: 100%;
}

table.reportsTable th {
	padding: 6px 5px 5px 9px;
}

a.buttonUser img {
	margin: 0 0 2px 0;	
}

.configBox .toolbutton {
	margin: -1px -10px 0 0;
}

.tabInactive a, .tabInactive a:link, .tabInactive a:visited, .tabInactive a:hover, .tabInactive a:active {
	background: url(img/bg-tab-inactive.gif) no-repeat 0 1px;
}

.dojoTab {
	margin-bottom: 2px !important;
}

#toolbar {	
	position: relative;
	top: 0;
}

.dojoSplitPane #toolbar {
	height: 1%;	
	width: auto;
	margin: 0 0 20px 0;
	background: #fff;
	border-top: none;
}

table.buttons {
	position: relative;
	top: 0px;	
}

.dojoSplitPane table.buttons {	
	margin-top: 0;
	border-top: 1px solid #bec0c6;
}

table.buttons td {
	text-align: center;
	vertical-align: top;
	padding: 0 3px;	
}

.dojoSplitPane table.buttons td {
	padding: 3px 3px 0 3px;	
}

#dashboardScreenEdit .dojoTabLabels-top {
	margin-top: -36px;
}

#dashboardScreenEdit .dojoTabNoLayout {
	margin-top: 0;
}