/*
This css is a clone of file:
js\dojo\src\widget\templates\Menu2.css  
*/

.dojoPopupMenu2 {
	position: absolute;
	border:1px solid #393B40;
    overflow:visible;
    background:#77787B;
    padding:1px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.dojoMenuItem2{
	white-space: nowrap;
	font: menu;
	margin: 0;
}

.dojoMenuItem2Hover {
	background:transparent url(img/bg-tab-active.gif) no-repeat;
	cursor:pointer;
	cursor:hand;
}

.dojoMenuItem2Icon {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-right: 3px;
}

.dojoMenuItem2Label {
	position: relative;
	vertical-align: middle;
    color:white;
}


.dojoMenuItem2Accel {
	position: relative;
	vertical-align: middle;
	padding-left: 3px;
}

.dojoMenuItem2Disabled .dojoMenuItem2Label,
.dojoMenuItem2Disabled .dojoMenuItem2Accel {
	color: #607a9e;
}

.dojoMenuItem2Submenu {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(img/submenu_off.gif);
	width: 5px;
	height: 9px;
	padding-left: 3px;
}
.dojoMenuItem2Hover .dojoMenuItem2Submenu {
	background-image: url(img/submenu_on.gif);
}

.dojoMenuItem2Disabled .dojoMenuItem2Submenu {
	background-image: url(img/submenu_disabled.gif);
}

.dojoMenuSeparator2 {
	font-size: 1px;
	margin: 0;
}

.dojoMenuSeparator2Top {
	height: 50%;
	/*border-bottom: 1px solid #7a98c4;*/
    border-bottom:1 px solid black;
    margin: 0px 2px;
	font-size: 1px;
}

.dojoMenuSeparator2Bottom {
	height: 50%;
	border-top: 1px solid #c9deff;
	margin: 0px 2px;
	font-size: 1px;
}

.dojoMenuBar2 {
	/*position: relative;*/
	background:#85aeec url(img/soriaBarBg.gif) repeat-x top left;
	/*border-bottom:1px solid #6b9fec;*/
    border-bottom:1px solid white;    
}

.dojoMenuBar2Client {
	padding: 1px;
}

.dojoMenuBarItem2 {
	white-space: nowrap;
	font: menu;
	margin: 0;
	position: relative;
	vertical-align: middle;
	z-index: 1;
	padding: 3px 8px;
}

.dojoMenuBarItem2 span {
	margin: 0;
	position: relative;
	z-index: 2;
	cursor:pointer;
	cursor:hand;
}

.dojoMenuBarItem2Hover {
	background-color:#BF2128;
}

.dojoMenuBarItem2Disabled span {
	color: #4f6582;
}
