table.calTable {
	border: 1px solid black;
    background-color: white;
    color: #000000;
}

div#calSmall table.calTable {
    width: 400px;
}

div#calBig table.calTable {
    width: 900px;
}

table.calTable td{
	font-size:smaller ;	
	padding: 3px;
	vertical-align: top;
}

tr.calendarHeader {
    color: #000000;
}

a.calPrevious, a.calPrevious:hover, a.calNext, a.calNext:hover{
	text-decoration: none;
}

a.calPrevious{
	 background: url(img/cal-previous.gif) no-repeat center center;
}

a.calNext{
	 background: url(img/cal-next.gif) no-repeat center center;
}

th.calTitle{
	font-weight: bold;
	text-align: center;
}

tr.calWeekDays{
	background-color: orange;
}

td.calWeekDay{
	font-weight: bold;
}

td.calDayIn{
	background-color: #FFF2BF;
}
	
td.calDayOut{
    color: #808080;
}

td#calToday{
	font-weight: bold;	
	background-color: green;
}

td#calSelected{
	font-weight: bold;	
	border: 1px solid red;
	color: red;
	background-color: transparent;
}

td.calEvent{
	font-weight: bold;
	border: 1px dashed orange;
}

a.calDayLink, a.calDayLink:visited, a.calEventLink, a.calEventLink:visited{
	color: black;
	text-decoration: underline;
}

a.calDayLink:hover, a.calEventLink:hover {
    color: green; 
    text-decoration: underline;
}

img.CalIcon{
	vertical-align: bottom;
}