/*
stylesheet for screen design
*/

/*
Style for all contain of screen edit: contains toolbar,tabs,statusBar 
and tree with fields/properties  
*/
.screenEditWrapper{
	width: 100%;
	/* the height is important because of using dojo controls like SplitPane and LayoutContainer*/
	height: 650px;
	overflow: hidden;
}

/*
The style for TabPane wrapper
*/
.screenContentWrapper{
	/*The with is important*/
	width:955px;
}

/*the style for status bar*/
.statusBar{
	background-color: #DCDCDC;
	height:20px;
	width:100%;
	margin: 0px;
}

/*
style for the margin of split pane: for more info look in:
  js\dojo\src\widget\templates\SplitContainer.css  
*/
.dojoSplitPane{
	margin: 5px;
}

/*Style for each item: filed,panel*/
.item{
	/*background: #EEEDED;*/
	border: 1px dashed #EEEDED;
}
.itemHover{
	/*background: #EEEDED;*/
	border: 1px dashed green;
}
.itemSelected{
	/*background: #EEEDED;*/
	border: 1px dashed black;
}
.dragOver{
	background: #F3F5F7;
	opacity: 0.5;
	border: 1px dashed green;
}
.panelDragOver{
	background: #F3F5F7;
	opacity:0.7;
	border: 1px dashed green;
	padding: 11px 15px 13px 15px;
}

/* end item style */

/*field style */
.field{
	/*background: #EEF0F5;*/
	width:100%;
	border: 1px dashed #EEF0F5;
}
.fieldHover{
	/*background: #EEF0F5;*/
	width:100%;
	border: 1px dashed green;
	cursor: move;	
}
.fieldSelected{
	/*background: #EEF0F5;*/
	width:100%;
	border: 1px dashed black;
}
.emptyField{
	 color:#DC3C3C;
	 font-weight: bold;
	 padding-left: 4px;
}
/*end field style*/


/*panel styles*/
.parent4Panel{
	border: 1px dashed LightGrey;
}

.panel{
	/*the width must be fixed because of drag-drop with panels 
	else for sample with=100% on drag the panel will be resized with 100% from window
	the panel class is used at design time
	and must be exacly like the table of fields from panel at runTime
	*/
	width:100%; /*898px;*/
}

.panelGridLine{
	/*border-bottom: 1px dashed LightGrey;
	border-right: 1px dashed LightGrey;*/
	border: 1px dashed #EEF0F5;
}
/*end panel style*/

.actionButton{
	border: 1px solid LightGrey;
}

.actionButton:hover{
	border: 1px solid black;
}

/*
outline style
used in: fieldProperties.jsp, panelProperties.jsp, tabProperties.jsp and screenProperties.jsp
*/

.outlineTable{
	border: 1px solid black;
	margin: 0 0 0 0;
	width: 100%;
}
.outlineTdHeader{
	background:#393B40 none repeat scroll 0%;
	color:#F4F0F5;
	border-bottom:1px solid #77787B;
	border-top:2px solid #FFFFFF;
	font-size:11px;
	padding:2px 2px 2px 2px;
	text-align:left;
}
.outlineTdLabel{
	width:80px;
	background:#D2D5DF;
	border-left:5px solid #D2D5DF;
	border-right:5px solid #D2D5DF;
	padding:2px 2px 2px;
}
.outlineTdInput{
	background:#EEF0F5; 
	border-left:5px solid #EEF0F5;
	border-right:5px solid #EEF0F5;
	padding:2px 2px 2px;
}
.outlineInput{
	width: 100%;	
}
/* end of outline style*/


.transparentDiv{
	background: transparent;
	border: 1px dashed red;
	position: absolute;
	top:0px;
	left:0px;
	height: 100px;
}

 .add {
     background-image:url(icons/add.gif) !important;
 }
 .remove {
     background-image:url(icons/delete16.gif) !important;
 }
 .config{
 	background-image:url(icons/changeStatus16.gif) !important;
 }
 
.fields-system{
 	background-image:url(icons/book.png) !important;
}
.fields-custom{
 	background-image:url(icons/user.gif) !important;
}

.dd-arrow-down {
	background-image: url(icons/arrow-sort-down.gif);
	display: block;
	visibility: visible;
	z-index: 20000;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
}
