/*
.toolbarActions .x-toolbar-item button .x-btn-icon {
    margin-top: -4px;
}


.workItemDialog .toolbarActions .x-toolbar-item button .x-btn-icon {
    margin-top: -2px;
}

.x-tab-default-top button, .x-tab-default-top .x-tab-inner {
    line-height: 12px;
}
.x-tab em {
    padding-top: 2px;
}
*/

/* Gantt chart */
.sch-dependency-line,.sch-dependency-arrow {
    border-color: rgb(49, 114, 215) !important;
}

.sch-gantt-parenttask-bar {
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000A0A0A,endColorstr=#000A0A0A);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000A0A0A,endColorstr=#000A0A0A);
	zoom: 1;
    border-top: 2px solid rgb(0, 0, 0) !important;
    border-left: 3px solid rgb(0, 0, 0) !important;
    border-right: 3px solid rgb(0, 0, 0) !important;
    border-bottom: none !important;
    box-shadow: 1px 1px 2px rgb(150, 150, 150) !important;
}

.sch-gantt-parenttask-arrow {
    /*border-top: 6px solid rgb(225, 20, 40) !important;*/
    visibility:hidden !important;
}

/* Gantt right panel column header hover style */
.sch-column-header-over {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F1F2', endColorstr='#E6E6E6', GradientType=0);
}

/* Gantt left panel column headers hover style */
.sch-timelinepanel .x-column-header-over {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F1F2', endColorstr='#E6E6E6', GradientType=0);
}

.sch-timelinepanel .x-column-header-inner {
	background-color: #C5C5C5;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E3E4E6', GradientType=0);
    border-right: 1px solid #C5C5C5;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.sch-ganttpanel .x-grid-row.row-selected .x-grid-cell {
    background-color: rgb(201, 233, 246);
}

 .sch-ganttpanel  .x-column-header-inner {
    background-color: #c5c5c5 !important;
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #e3e4e6 100%);
}
/* end of Gantt chart style */
