/* silver base  */
/*Base common*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\000033}}
p, td { font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\000036}}
h4 { background: transparent url("img/dots.gif") repeat-x scroll left bottom; font-size: 13px; font-weight: bold; margin: 0 0 17px; padding: 0 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\0000313}}
a { color: #1d5090; font-weight: bold; text-decoration: none; }

/* move to theme */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/silver\/style-silver-common\.scss}line{font-family:\000038}}
.x-form-item-label { color: #6b6b6b; height: 22px; margin-top: 2px; padding-right: 3px; padding-top: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/silver\/style-silver-common\.scss}line{font-family:\0000315}}
.x-form-text, textarea.x-form-field { border-radius: 3px; }
