/* gray base  */
/*Base common*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\000033}}
p, td { font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\000036}}
h4 { background: transparent url("img/dots.gif") repeat-x scroll left bottom; font-size: 13px; font-weight: bold; margin: 0 0 17px; padding: 0 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-common\.scss}line{font-family:\0000313}}
a { color: #1d5090; font-weight: bold; text-decoration: none; }
