/* triton login*/
/*base login*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000310}}
.logonPageWrapper { padding: 20px 10px 10px 10px; }

/*TODO parametrize background-color*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000315}}
.logonPageWrapper { background: #f8f8f8; /* Old browsers */ background: -moz-linear-gradient(top, #b8b8b8 0%, #f8f8f8 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(20%, #b8b8b8), color-stop(100%, #f8f8f8)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f8f8f8 0%, #b8b8b8 20%, #f8f8f8 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b8b8b8 0%, #f8f8f8 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #b8b8b8 0%, #f8f8f8 100%); /* IE10+ */ background: linear-gradient(to bottom, #c9c9c9 0%, #d8d8d8 50%, #f8f8f8 95%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b8b8b8', endColorstr='#f8f8f8'); /* IE7-8-9*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000326}}
#logonpageview .x-panel-header { background-image: url(img/loginGradient.png); border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000336}}
#logonpageview .x-panel-header-title .x-title-text { background-image: url("img/lock.png") !important; background-repeat: no-repeat; display: block; line-height: 38px; padding: 0px 0px 0px 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000352}}
.loginNorthPanel { padding: 0 0 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000356}}
#pw_forgot { text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000360}}
#logonpageview #panelMotd h4 { margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000364}}
a.forgotPwd { color: #403030; text-decoration: none; font-weight: normal; background: transparent; /*url(img/arrow-small2.gif) no-repeat 0 4px;  Custom */ padding: 0 2px 0; margin: 0 2px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000374}}
a.forgotPwd:hover { color: #000000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000378}}
.forgotPwd, .registerLink, .rememberMe, .expandMOTD, .collapseMOTD { color: #ff1d2b !important; font-size: 11px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000384}}
.expandMOTD { background: url(img/link_arrow.gif) 2px 5px no-repeat; padding-left: 12px; font-weight: normal; margin-right: 10px; padding-top: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000392}}
.collapseMOTD { background: url(img/link_arrow.gif) 2px 5px no-repeat; padding-left: 12px; font-weight: normal; margin-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\0000399}}
.registerLink { background: url(img/link_arrow.gif) 0 5px no-repeat; padding-left: 10px; font-weight: normal; margin-right: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003106}}
#registerLink { text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003110}}
.rememberMe .x-form-cb-wrap-inner { float: right; margin-top: -4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003115}}
#logonpageview { overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003120}}
#logonpageview table { float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003124}}
#logonBoxShadow { background: url(img/logonbox_shadow.png) no-repeat !important; margin-top: 38px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003129}}
.loginInputField input { width: 205px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003133}}
.loginInputField .x-form-field { border: 1px solid #e3e2e2 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003136}}
.loginInputField .x-form-text-wrap-default { border-width: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003139}}
.loginInputField .x-form-trigger-wrap-default { border-width: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003143}}
.motd { padding: 10px 30px 10px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003147}}
div.motd li { background: url(img/list.gif) no-repeat 0 0.5em; line-height: 1.5em; margin: 0; padding: 0 0 2px 12px; list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003155}}
div.motd p { font-size: 12px; margin: 0 0 3px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003161}}
.panelTeaser { border-top: 1px solid #d0d0d0; padding: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003166}}
.versionInfoLabel p { margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/base-login\.scss}line{font-family:\00003170}}
.infoBoxDemoSite { border-bottom: 2px solid #b8b8b8; background-color: #ffff00; padding: 5px 10px 10px 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/friedj\/Workspaces\/Track-5x\/core\/com\.trackplus\.core\/src\/themes\/sass\/partials\/triton\/style-triton-login\.scss}line{font-family:\000039}}
.logonPageWrapper { background-color: white; background-image: none; }
