
/**
 * By default, JQuery gives less space to the title from the header. 
 * We make sure it expands over the entire width. 
 */
h1 {
    width:100%;
    margin-left:auto !important;
    margin-right:auto !important;
}

/**
 * The search results must not be decorated. 
 */
#searchResults ul{
    list-style-type:none;
    padding-left:1em;
}

.legal {
    margin: 1em;
}
.legalCopyright{
    font-size: 0.8em;
    text-align: right;
    font-weight:normal;
}