.footer{
    margin-top:1.5em;
    margin-bottom:1.5em;
    text-align:right;
    font-size:small;
    font-weight:normal;
    color:#999999;    
}

/* Override the jQuery defaults for the header, to 
  make more text available*/
h1.pageHeader,
h1.orientation-portrait{
    margin-left:40px !important;
    width:60%;
    text-align:left !important;
    text-overflow:ellipsis;    
}
h1.orientation-landscape {
    width:80%;
}

/* Make some room at the bottom */
div.body {
   margin-bottom:3em; 
}

/* Make sure the content does not overflow.*/
pre, code {
   white-space: pre-wrap;
}

/* Hide the separator before the in-page TOC. */
div.tocSeparatorBefore{
    margin:0; height:0;
}

/* After a JQuery Mobile list view we must provide a space. 
Otherwise the listview will overlap the content. */
*.ui-listview + *{
  margin-top: 25px;
}

img, .tablemob{
  max-width:100% !important;
}

.tablemob{
  overflow-x:scroll !important;
  -webkit-overflow-scrolling: touch;
}

.tablemob > * {
    -webkit-transform: translateZ(0px);
}


.content .topictitle1{font-size: 1.2em;}